environment/history-tools/
environment/database/
environment/shared-database/
protocol_features/
nodeos.log
.idea/
.projectile
**/node_modules/
**/.DS_Store
vendor/
loadtest.yml
coverage.txt
bin
configs/config.*.yml